<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

  <title>Покраска авто</title>

  <meta name="viewport" content="width=device-width">
</head>

<body>
  <div class="back__photo">
    <div class="mask">
      <!-- Header -->
      <div class="container container--bg-none">

        <header class="header">
          <div class="header__inner row">

            <div class="col-3 col-3--a-left header__left">
              <div class="header__social">
                <a href="#" target="_blank">
                  <img src="static/images/instagram-mono.svg" alt="" width="30">
                </a>
                <a href="#" target="_blank">
                  <img src="static/images/fb-mono.svg" alt="" height="30">
                </a>
                <a href="#" target="_blank">
                  <img src="static/images/twitter-mono.svg" alt="" width="30">
                </a>
              </div>
            </div>


            <div class="col-3 col-3--center">
              <div class="company__name">
                AutoPaint.by
              </div>
            </div>

            <div class="col-3 col-3--a-right col-3--sm header__right">
              <a class="phone header__phone">+375 (29) 182-62-68</a>
            </div>
          </div>
        </header><!-- /.header__inner -->
        <!-- /.Header -->

        <!-- Navigation -->
        <nav class="nav row row--nowrap" id="top_nav">
          <div class="company__name">AutoPaint.by</div>
          <div class="nav__col nav__col--left col-3 col-3--a-right">
            <a class="nav__link" href="#about">Преимущества</a>
            <a class="nav__link" href="#services">Услуги</a>
            <a class="nav__link" href="#works">Примеры работ</a>
          </div>
          <div class="nav__col nav__col--center col-3 col-3--center">
            <a class="nav__link nav__link--btn text-center" href="#submit_photos">Оценка ремонта по фото</a>
          </div>
          <div class="nav__col nav__col--right col-3 col-3--a-left col-3--sm">
            <a class="nav__link nav__link--right" href="#faq">Частые вопросы</a>
            <a class="nav__link nav__link--right" href="#reviews">Отзывы</a>
            <a class="nav__link nav__link--right" href="#contacts">Контакты</a>
          </div>
        </nav><!-- /.nav -->
        <div class="burger" id="navToggle">
          <button class="burger__lines" type="button">
            <span></span>
          </button>
        </div>
        <!-- /.Navigation -->
      </div><!-- /.container -->


      <!-- Preview -->
      <div class="container container--bg-image container--mt-0 container--mb-0 container--pt-0">
        <div class="preview">
          <div class="preview__item">
            <div class="title preview__title">
              <p>Покраска и кузовной ремонт авто и мотоциклов с гарантией</p>
            </div>
            <div class="preview__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis voluptatem nobis magni dolore odio! Obcaecati alias facere debitis labore nobis inventore soluta, quidem recusandae rerum aut tenetur ullam delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iste tenetur veniam consequuntur eveniet quasi aut corrupti dicta, reiciendis id itaque deleniti repellat omnis incidunt architecto cumque quos, provident quisquam!</p>
            </div>
            <button class="btn" data-modal="#submit">Оставить заявку</button>
          </div>
        </div><!-- /.preview -->
      </div><!-- /.container -->

      <!-- UP button -->
      <a class="btn__up" id="up"></a>

      <!-- Advantages -->
      <div class="container container--bg-none">
        <div class="about">
          <a id="about"></a>
          <div class="title about__title">Наши преимущества</div>
          <div class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis facere voluptate quae, amet, perferendis adipisci, quam animi obcaecati quidem illo consectetur.</div>
          <div class="advantages">
            <div class="advantages__item">
              <img class="advantages__item_ico" src="static/images/1.webp" width="150">
              <div class="advantages__item_text">Maxime suscipit delectus, magnam ullam.</div>
            </div>
            <div class="advantages__item">
              <img class="advantages__item_ico" src="static/images/photo.webp" width="150">
              <div class="advantages__item_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, optio.</div>
            </div>
            <div class="advantages__item">
              <img class="advantages__item_ico" src="static/images/photo.webp" width="150">
              <div class="advantages__item_text">Ipsum dolor sit amet, consectetur elit.</div>
            </div>
            <div class="advantages__item">
              <img class="advantages__item_ico" src="static/images/1.webp" width="150">
              <div class="advantages__item_text">Maxime eveniet mollitia reiciendis tenetur doloremque quo suscipit delectus, magnam ullam.</div>
            </div>
            <div class="advantages__item">
              <img class="advantages__item_ico lh" src="static/images/_2.webp" height="100">
              <div class="advantages__item_text">Repellat officiis laboriosam. Eos dignissimos aut non libero laborum, omnis, rem ex nemo!</div>
            </div>
            <div class="advantages__item">
              <img class="advantages__item_ico lh" src="static/images/_2.webp" height="100">
              <div class="advantages__item_text">Repellat officiis laboriosam. Eos dignissimos aut non libero laborum!</div>
            </div>
          </div><!-- /.advantages -->
        </div><!-- /.about -->
      </div><!-- /.container -->
      <!-- /.Advantages -->


      <!-- Services -->
      <div class="container text-center">
        <a id="services"></a>
        <div class="title services__title">Наши услуги</div>


        <div class="services row">

            {% for i in service %}
          <div class="col-3 col-3--no-grow">
            <div class="service">
              <img class="img" src="{% if i.photo %} {{ i.photo.url }} {% else %} {% static 'images/no_photo.jpg' %} {% endif %}" height="150px" alt="" data-modal="#service_1">
              <div class="service__item">
                <div class="service__title" data-modal="#service_1">{{i.name}}</div>
                <div class="service__description">{{i.description}}</div>
              </div>
<!--              <div class="wrapper wrapper&#45;&#45;bot">-->
<!--                <a href="" class="btn btn&#45;&#45;sm" data-modal="#service_1">Подробнее</a>-->
<!--              </div>-->
            </div>
          </div>
            {% endfor %}

        </div><!-- /.services -->
      </div><!-- /.container -->
      <!-- /.Services -->


      <!-- Works -->
      <div class="container container--ps-0  container--pt-8 container--mt-8 container--bg-none">
        <a id="works"></a>

        <div class="title__header">
          <div class="title__header_col"></div>
          <div class="title__header_col--main">
            <div class="title title__text title--mb-0">Примеры наших работ</div>
          </div>
          <div class="title__header_col text-right">
            <a class="btn btn--thin" href="" target="_blank">Больше работ в Instagram</a>
          </div>
        </div>

        <div class="work" data-slider="work">
          {% for i in photo %}
          <div class="work__item">
            <div class="work__imgs">
              <div class="work__img">
                <img src="{{ i.photo1.url }}" alt="">
              </div>
              <div class="work__img">
                <img src="{{ i.photo2.url }}" alt="">
              </div>
            </div>
          </div>
          {% endfor %}
<!--          <div class="work__item">-->
<!--            <div class="work__item_img">-->
<!--              <img class="img" src="https://place-hold.it/400/20c" alt="">-->
<!--              <img class="img" src="https://place-hold.it/400/0df/fff" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="work__item">-->
<!--            <div class="work__item_img">-->
<!--              <img class="img" src="https://place-hold.it/400/566/fff" alt="">-->
<!--              <img class="img" src="https://place-hold.it/400/fcf/fff" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="work__item">-->
<!--            <div class="work__item_img">-->
<!--              <img class="img" src="https://place-hold.it/400/311/fff" alt="">-->
<!--              <img class="img" src="https://place-hold.it/400/fdd/fff" alt="">-->
<!--            </div>-->
<!--          </div>-->
        </div><!-- /.work -->
      </div><!-- /.container -->
      <!-- /.Works -->


      <!-- FAQ -->
      <div class="container container--pt-0 container--bg-none">
        <a id="faq"></a>
        <div class="faq popups">
          <div class="title faq__title">Частые вопросы</div>
          <div class="faq__item">
            <div class="faq__item_header" data-popup="header">
              <div class="faq__item_title">Как сделать?</div>
              <div class="faq__item_img">
                <img src="static/images/close_wite.svg" alt="">
                <img class="second__img" src="static/images/close_yellow.svg" alt="">
			  </div>
			  </div>
            <ol class="faq__item_text" data-popup="body">
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, optio?</li>
            </ol>
          </div>
          <div class="faq__item">
            <div class="faq__item_header" data-popup="header">
              <div class="faq__item_title">Зачем делать?</div>
              <div class="faq__item_img">
                <img src="static/images/close_wite.svg" alt="">
                <img class="second__img" src="static/images/close_yellow.svg" alt="">
			  </div>
			  </div>
            <ol class="faq__item_text" data-popup="body">
              <li>Lorem ipsum dolor sit Cum, optio?</li>
              <li>Lorem ipsum dolor sit amet, elit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, adipisicing </li>
            </ol>
          </div>
          <div class="faq__item">
            <div class="faq__item_header" data-popup="header">
              <div class="faq__item_title">Сколько стоит?</div>
              <div class="faq__item_img">
                <img src="static/images/close_wite.svg" alt="">
                <img class="second__img" src="static/images/close_yellow.svg" alt="">
			  </div>
			  </div>
            <ol class="faq__item_text" data-popup="body">
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, optio?</li>
            </ol>
          </div>
          <div class="faq__item">
            <div class="faq__item_header" data-popup="header">
              <div class="faq__item_title">Куда обращаться?</div>
              <div class="faq__item_img">
                <img src="static/images/close_wite.svg" alt="">
                <img class="second__img" src="static/images/close_yellow.svg" alt="">
			  </div>
            </div>
            <ol class="faq__item_text" data-popup="body">
              <li>Lorem ipsum dolor sit Cum, optio?</li>
              <li>Lorem ipsum dolor sit amet, elit.</li>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit dolor sit.</li>
              <li>Lorem ipsum dolor sit amet, adipisicing </li>
            </ol>
          </div>
          <div class="faq__item_header"></div>
        </div><!-- /.faq -->
      </div><!-- /.container -->
      <!-- /FAQ -->


      <!-- Submit form -->
      <div class="container">
        <a id="submit_photos"></a>
        <div class="submit">
          <div class="title submit__title">Оставьте заявку на ремонт</div>
          <div class="submit__wrapper">
            <div class="submit__logo">
              <img class="img" src="https://place-hold.it/500x200" alt="">
            </div>
            <div class="submit__form">
               <form action="{% url 'set_repair_request_photo' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="transparent" required type="text" name="name" id="sf_name" placeholder="Введите имя">
                <input class="transparent" required type="tel" name="phone" id="sf_phone" placeholder="Введите номер телефона">
                <input class="transparent" required type="date" name="date" id="time" placeholder="Введите удобное время ремонта">

                <div class="input add-files">
                  <label class="input add-photo transparent" for="addPhotos">
                    <span>Прикрепить фотографии</span>
                    <input type="file" name="img1" multiple id="addPhotos" accept="image/*">
                  </label>
                </div>
                <div class="captcha__container">{{form.captcha}}</div>
                {{form.errors}}
                 <input type="submit" class="btn" value="Отправить" data-submit />
<!--                <button class="btn">Оставить заявку</button>-->
              </form>
            </div>
          </div><!-- /.wrapper -->
        </div><!-- /.submit -->
      </div><!-- /.container -->
      <!-- /Submit form -->


      <!-- Reviews -->
      <div class="container container--ps-0 container--bg-none">
        <a id="reviews"></a>

        <div class="title__header">
          <div class="title__header_col"></div>
          <div class="title__header_col--main">
            <div class="title title__text title--mb-0">Отзывы наших клиентов</div>
          </div>
          <div class="title__header_col text-right">
            <a class="btn btn--thin" href="" data-modal="#addReview">Оставить отзыв</a>
          </div>
        </div>

        <div class="review" data-slider="review">
              {% for i in reviews %}
          <div>
          <div class="review__item">

            <div class="review__name">{{i.name}}</div>
            <div class="review__rating">{{i.evaluation}}</div>
            <div class="review__text">{{i.description}}</div>
            <!--
          <div class="review__item_img">
            <img src="https://place-hold.it/800x450/fcf" alt="">
          </div>
-->
          </div>
          </div>
          {% endfor %}

<!--          <div>-->
<!--          <div class="review__item">-->
<!--            <div class="review__name">Петя</div>-->
<!--            <div class="review__rating">Отлично</div>-->
<!--            <div class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam delectus corporis vero totam vitae laborum ad, officia commodi consectetur, quo error quibusdam, voluptas sit harum deserunt et veritatis adipisci blanditiis rem est sed eum ex at? Magni, sequi, illo.</div>-->
<!--          </div>-->
<!--          </div>-->
<!--          <div>-->
<!--          <div class="review__item">-->
<!--            <div class="review__name">Валера</div>-->
<!--            <div class="review__rating">Отлично</div>-->
<!--            <div class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam delectus corporis vero totam vitae laborum ad, officia commodi, voluptas sit harum deserunt et veritatis adipisci blanditiis rem est sed eum ex at? Magni, sequi, illo.</div>-->
<!--          </div>-->
<!--          </div>-->
<!--          <div>-->
<!--          <div class="review__item">-->
<!--            <div class="review__name">Коля</div>-->
<!--            <div class="review__rating">Не плохо</div>-->
<!--            <div class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quisquam voluptas sit harum deserunt et veritatis adipisci blanditiis rem est sed eum ex at? Magni, sequi, illo.</div>-->
<!--          </div>-->
<!--          </div>-->
        </div><!-- /.work -->

      </div><!-- /.container -->
      <!-- /Reviews -->


      <!-- Footer -->
      <div class="container container--ps-0 container--mb-0 container--mt-0">
        <a id="contacts"></a>
        <footer>
          <div class="">
            <div class="footer__inner">

              <div class="footer__col">
                <div class="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1173.4000741373045!2d27.53086685721884!3d53.97081659178616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1618057907660!5m2!1sru!2sby" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

                <div class="footer__popups popups popups-one_active">
                  <div class="footer__contacts">
                    <div class="footer__title">Наши контакты</div>

                    <ol class="contacts">
                      <li class="address">
                        <img src="static/images/contacts/home.svg" alt="">
                        Адрес: г. Минск, ул.Победы, 123
                      </li>

                      <li>
                        <a class="phone" href="">
                          <img src="static/images/contacts/phone.svg" alt="">
                          +375 (29) 182-62-68
                        </a>
                      </li>

                      <li>
                        <a class="mail" href="">
                          <img src="static/images/contacts/mail.svg" alt="">
                          auto_paint@mail.ru
                        </a>
                      </li>

                      <li class="clock">
                        <img src="static/images/contacts/clock.svg" alt="">
                        Пн-Пт 9:00-19:00
                      </li>
                    </ol>
                  </div><!-- /.contacts -->
                </div><!-- /.footer__popups -->
              </div><!-- /.footer__col -->

              <div class="footer__col">
                <div class="footer__services">
                  <div class="footer__title">Наши услуги</div>
                  <ol>
                    <li>
                      <a href="" data-modal="#service_1">Услуга 1</a><br>
                    </li>
                    <li>
                      <a href="" data-modal="#service_2">Услуга 2</a><br>
                    </li>
                    <li>
                      <a href="" data-modal="#service_3">Очень хорошая услуга 3</a><br>
                    </li>
                    <li>
                      <a href="" data-modal="#service_4">Услуга 4</a><br>
                    </li>
                    <li>
                      <a href="" data-modal="#service_5">Услуга 5</a><br>
                    </li>
                  </ol>
                </div>
              </div>

            </div><!-- /.footer__inner -->


            <div class="footer__outer row">

              <div class="footer__social col-3">
                <a href="#" target="_blank">
                  <img src="static/images/footer/instagram-gray.svg" alt="" width="30">
                </a>
                <a href="#" target="_blank">
                  <img src="static/images/footer/fb-gray.svg" alt="" height="30">
                </a>
                <a href="#" target="_blank">
                  <img src="static/images/footer/twitter-gray.svg" alt="" width="30">
                </a>
              </div>

              <div class="company__name col-3">AutoPaint.by</div>

              <div class="copyright col-3">
                <img src="static/images/contacts/copyright.svg" alt="">
                ИП "Покраска" УНП 10002930
              </div>


            </div><!-- /.footer__end -->

          </div>
        </footer>
      </div><!-- /.container -->
      <!-- /Footer -->







      <!-- Modals -->
      <modals>
        <!-- Submit -->
        <div class="modal" id="submit">
          <div class="modal__dialog  modal__dialog--sm">

            <img class="modal__close" src="static/images/close_wite.svg" alt="Close" data-close>

            <div class="modal__content">
              <div class="modal__title">Оставьте заявку</div>
              <form action="{% url 'main' %}" method="post" >
                  {% csrf_token %}
                <input type="text" required name="name" id="s_name" placeholder="Введите имя">
                <input type="tel" required name="phone" id="s_phone" placeholder="Введите номер телефона">
                <div class="captcha__container">{{form.captcha}}
                 {% if form.errors %}
                         {{form.errors}}
                {% endif %}
                </div>
                <input type="submit" class="btn" value="Отправить" data-submit />
              </form>
            </div>

          </div><!-- /.modal__dialog -->
        </div><!-- /.modal -->


        <!-- Service_1 -->
        <div class="modal" id="service_1">
          <div class="modal__dialog">

            <img class="modal__close scrolled" src="static/images/close_wite.svg" alt="Close" data-close>


<!--            start-->
            <div class="modal-servic">
              <div class="modal-service__preview">
                <div data-slider="service">
                  <div>
                    <img class="modal-service__photo" src="https://place-hold.it/790x780" alt="">
                  </div>
                  <div>
                    <img class="modal-service__photo" src="https://place-hold.it/790x780/0dc/fff" alt="">
                  </div>
                  <div>
                    <img class="modal-service__photo" src="https://place-hold.it/790x780/566/fff" alt="">
                  </div>
                  <div>
                    <img class="modal-service__photo" src="https://place-hold.it/790x780/fcf/fff" alt="">
                  </div>
                </div>
              </div>

              <div class="modal-service__content">
                <div class="modal-service__content_main">
                  <div class="modal-service__header">
                    <h3 class="modal-service__title">Услгуга 1</h3>
                    <div class="modal-service__cost">
                      от 250 р.
                    </div>
                  </div>

                  <div class="modal-service__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, iure ipsa doloremque a nobis optio commodi error consequatur odio iusto! Aliquam alias tempore quis error nostrum ab, quasi quisquam nam!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, iure ipsa doloremque a nobis optio commodi error consequatur odio iusto! Aliquam alias tempore quis error nostrum ab, quasi quisquam nam!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, iure ipsa doloremque a nobis optio commodi error consequatur odio iusto! Aliquam alias tempore quis error nostrum ab, quasi quisquam nam!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, iure ipsa doloremque a nobis optio commodi error consequatur odio iusto! Aliquam alias tempore quis error nostrum ab, quasi quisquam nam!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, iure ipsa doloremque a nobis optio commodi error consequatur odio iusto! Aliquam alias tempore quis error nostrum ab, quasi quisquam nam!</p>
                  </div>
                </div>

                <div class="modal-service__footer">
                  <div class="btn btn--thin" data-model="#submit">Записаться</div>
                </div>

              </div><!-- /.modal-service__content -->
            </div><!-- /.modal-service -->
<!--stop-->
          </div><!-- /.modal__dialog -->
        </div><!-- /.modal -->
      </modals>


      <!--Добавь - начало-->
        <div class="modal" id="message-success">
          <div class="modal__dialog  modal__dialog--sm modal__dialog--success">

            <img class="modal__close" src="static/images/close_wite.svg" alt="Close" data-close>


            <div class="modal__content">
              <div class="modal__title">Вы успешно записаны</div>
              <div class="message">
<!--                <table>-->
<!--                  <tr>-->
<!--                    <td class="message__label">Ваш номер:</td>-->
<!--                    <td class="message__text_table">11254886</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td class="message__label">Дата:</td>-->
<!--                    <td class="message__text_table">02.05.2021 г.</td>-->
<!--                  </tr>-->
<!--                </table>-->
              </div>
            </div>

          </div><!-- /.modal__dialog -->
        </div><!-- /.modal -->

      <div class="modal" id="message-error">
          <div class="modal__dialog  modal__dialog--sm modal__dialog--error">

            <img class="modal__close" src="static/images/close_wite.svg" alt="Close" data-close>


            <div class="modal__content">
              <div class="modal__title">Вы не были записаны!</div>
              <div class="message">
                <div class="message__text">На данный день мест для записи нет.</div>
              </div>
            </div>

          </div><!-- /.modal__dialog -->
        </div><!-- /.modal -->
        <!--Добавь - конец-->


      <div class="modal" id="addReview">
        <div class="modal__dialog  modal__dialog--lm">

          <img class="modal__close" src="static/images/close_wite.svg" alt="Close" data-close>

          <div class="modal__content">
            <div class="modal__title">Оставьте отзыв</div>
            <form action="{% url 'set_review' %}" method="post">
              {% csrf_token %}
              <input required type="text" name="name" id="r_name" placeholder="Введите имя">
              <select class="select" name="evaluation">
                <option value="Отлично" selected>Отлично</option>
                <option value="Хорошо">Хорошо</option>
                <option value="Нормально">Нормально</option>
                <option value="Неплохо">Неплохо</option>
                <option value="Плохо">Плохо</option>
              </select>
              <div class="overflow-hidden"><textarea name="description" required id="r_rating" placeholder="Введит текст"></textarea></div>
             <div class="captcha__container">{{form.captcha}} </div>
                <div>{{form.errors}}</div>
              <!--        <input type="time" name="time" id="time" placeholder="Введите удобное время ремонта">-->
              <input type="submit" class="btn" value="Отправить" data-submit />
<!--              <button class="btn">Оставить отзыв</button>-->
            </form>
          </div>

        </div><!-- /.modal__dialog -->
      </div><!-- /.modal -->
      <!-- /.Modals-->


      <!-- JS -->
      <script src="static/js/jquery-3.6.0.min.js"></script>
      <script src="static/js/script.js"></script>
      <script src="static/js/slick.min.js"></script>
    </div><!-- /.mask -->
  </div><!-- /.back__photo -->
</body></html>